:root {
    --pearl: #F5F5F5;
    --haze: #ECECEC;
    --feather: #7F858B;
    --midnight: #1F2D3B;
    --spruce: #4A6C5C;
    --plum: #6A77B7;
    --turmeric: #DD8C41;
}

/* HEADERS */
h1 {
    font-family: 'ShurikenStd-Boy', serif;
    text-align: center;
    font-size: 2.1em;
    letter-spacing: 0.1em;
    color: #4A6C5C;
    margin: 0;
    padding-top: 2.8%;
}
h2 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #DD8C41;
    font-size: 1.5em;
    margin: 0;
    padding-top: 0.2%;
}

/* COVER ART GRID */
.cover-grid {
    display: grid;
    grid-template-columns: 1fr repeat(20, 35px) 1fr;
    grid-template-rows: repeat(15, 35px);
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 230px;
}
.cover-image {
    grid-column: 3 / 20;
    grid-row: 2 / 14;
    width: 630px;
    height: 455px;
}
.purple-rect {
    grid-column: 2 / 14;
    grid-row: 1 / 8;
    border: 4px solid var(--plum);
}
.green-rect {
    grid-column: 5 / 22;
    grid-row: 6 / 13;
    border: 4px solid var(--spruce);
}
.orange-rect {
    grid-column: 9 / 20;
    grid-row: 5 / 16;
    border: 4px solid var(--turmeric);
}

/* SMALL SCREENS */
@media only screen and (max-width: 800px) {
    /*** HEADERS ***/
    h1 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 1.2em;
    }

    /* COVER ART GRID */
    .cover-grid {
        grid-template-columns: 1fr repeat(20, 15px) 1fr;
        grid-template-rows: repeat(15, 15px);
        margin-top: 75px;
        margin-bottom: 150px;
    }
    .cover-image {
        width: 270px;
        height: 195px;
    }
    .purple-rect {
        border: 2.5px solid var(--plum);
    }
    .green-rect {
        border: 2.5px solid var(--spruce);
    }
    .orange-rect {
        border: 2.5px solid var(--turmeric);
    }
}

/* LARGE SCREENS */
@media only screen and (min-width: 1700px) {
    /*** HEADERS ***/
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.9em;
        margin-bottom: 80px;
    }

    /* COVER ART GRID */
    .cover-grid {
        grid-template-columns: 1fr repeat(20, 70px) 1fr;
        grid-template-rows: repeat(15, 70px);
        margin-bottom: 300px;
    }
    .cover-image {
        width: 1260px;
        height: 910px;
    }
    .purple-rect {
        border: 5px solid var(--plum);
    }
    .green-rect {
        border: 5px solid var(--spruce);
    }
    .orange-rect {
        border: 5px solid var(--turmeric);
    }
}